<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Open+Sans:300|Oxygen|Material+Icons"
        rel="stylesheet">
</head>


<body>
    <h2> Sentiment Classification Predictive Model </h2>
    <div class="">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <center>                    
                    <p> <b>Models</b>: Spacy BIST, Deep Learning based NLP</p>
					<p> <b>Library</b>: ABSA Models of NLP Architect by Intel AI Lab</p>
                </center>
                <div class="overlay">
                    <div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>
                </div>
				<h4> Input Company Name </h4>
				<textarea class="form-control txt_input_name"
					id="txt_input_name"> Google LLC 
					</textarea>
                <h4> Input News Content </h4>
                <textarea class="form-control txt_input_body"
                    id="txt_input_body"> Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, search engine, cloud computing, software, and hardware. It is considered one of the Big Four technology companies, alongside Amazon, Apple, and Microsoft. 
					</textarea>
				<div class="form-row">
                    <div class="form-group col-md-3">
                        <label></label>
                        <button type="button" class="btn btn-primary btn-lg btn-block"
                            id="btn-process">Predict</button>
                    </div>
                </div>
                <h4> Document </h4>
                <textarea class="form-control txt_summary_header" id="input_summary_document" readonly> </textarea>
				<h4> Sentences </h4>
				<textarea class="form-control txt_summary_sents" id="input_summary_sents" readonly> </textarea>

            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</body>

</html>